<div id="queueView">
	<h2><span class="label label-default">Currently Playing</span></h2>
  <p class="songContainer" style='cursor:pointer' ng-show="currentSong">
    <img ng-src={{artistImage}}></img>
    <span class="textContainer">
      <span class="artistTitleColor">{{currentSong.artist}}</span> 
      <span>{{"  -  " + currentSong.songTitle }}</span>
    </span>
    <button type="button" class="buttonRemove btn btn-default" ng-click='playNext()'>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </p>
  <h2><span class="label label-default">Current Queue</span></h2>
  <div ng-repeat="track in queue">
    <p class="songContainer" style='cursor:pointer'>
      <img ng-src={{track.artistImage}}></img>
      <span class="textContainer">
        <span class="artistTitleColor">{{track.artist}}</span> 
        <span> {{"  -  " + track.songTitle}}</span>
      </span>
      <button type="button" class="buttonRemove btn-default" ng-click='dequeue()'>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </p>
  </div>
</div>